body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

.dateTime{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 3px;
    width: auto;
    height: auto;
}

.alarmzeitDate{
    width: 120px;
}

.alarmUeber{
    margin-top: 25px;
    float: left;
    text-align: left;
    display: flex;
    left: -500px;
    position: relative;
    left: -346px;
}

.alarmArtLeitstelle{
    margin-top: 20px;
    margin-left: 10px;
}

.alarmArtTelefon{
    margin-top: 20px;
    margin-left: 14px;
}

.alarmAbstand{
    margin-top: 20px;
    margin-left: 15px;
}

.abschnittAlarmArt{
    margin-top: 60px;
    float: left;
    text-align: left;
    display: flex;
    left: 600px;
    position: relative;
    left: -625px;
}

.alarmArtVollalarm{
    margin-top: 20px;
    margin-left: 10px;
}

.alarmArtKleinschleife{
    margin-top: 20px;
    margin-left: 14px;
}

.alarmArtSonstiges{
    height: 20px;
    width: auto;
    margin-top: 15px;
    margin-left: 50px;
}

.einsatzArtSelect{
    margin-top: 130px;
}

.einsatztypAbstand{
    margin-top: 10px;
}

.einsatztypAbstandGross{
    margin-top: 30px;
}

.brandBlinderAlarmRauchwarnmelder{
    margin-left: 20px;
}

.brandHeader {
    margin-bottom: 10px;
}

.brandBMAHeader{
    margin-bottom: 5px;
}

.technischeHilfeleistungHeader{
    margin-bottom: 5px;
}

.technischeHilfeleistungMenschenrettungAbstand{
    margin-left: 50px;
}

.technischeHilfeleistungMenschenrettungAbstandPunkte{
    margin-left: 15px;
}

.technischeHilfeleistungAbstandLabel{
    margin-top: 9px;
}

.technischeHilfeleistungMenschenrettungSonstiges{
    margin-left: 20px;
}

.einsatzTypSonstiges{
    margin-top: 20px;
    height: auto;
    width: 500px;
}

.artEinsatzstelle{
    margin-top: 50px;
}

.artEinsatzstelleHeader{
    margin-bottom: 10px;
}

.lageEinsatzstelleHeader{
    margin-top: 50px;
    margin-bottom: 10px;
}

.lageEinsatzstelleStrasse{
    width: 450px;
}

.lageEinsatzstelleOrt{
    margin-top: 10px;
}

.lageEinsatzstelleOrtUeberlandhilfe{
    margin-top: -5px;
}

.lageEinsatzstelleGebaeudeAnzahl{
    width: 40px;
}

.lageEinsatzstelleGebaeudeInhalt{
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.NameUndAnschriftVerursacherOderGeschaedigtenHeader{
    margin-top: 50px;
    margin-bottom: 9px;
}

.GeretteteMenschen{
    margin-top: 50px;
}

.GeretteteMenschenBrandAnzahl{
    margin-top: 5px;
    margin-left: 20px;
}

.MenschenAnzahlNummer{
    width: 40px;
    margin-bottom: 10px;
}

.ToteMenschenBrandAnzahl{
    margin-top: 5px;
    margin-left: 20px;
}

.ToteMenschenTechnischeHilfeleistungAnzahl{
    margin-top: 5px;
    margin-left: 20px;
}

.TierRettung{
    margin-top: 50px;
}

.TierRettungAnzahl{
    width: 40px;
}

.BerichtVerlaufEinsatzesUndLoeschOderHilfeleistungsmaßnahmen{
    margin-top: 50px;
}

.WasHatGebranntMitObjektUndLage{
    width: 1000px;
    height: 500px;
}

.TaetigkeitDerFeuerwehrMitBehandlungVerunglueckter{
    width: 1000px;
    height: 500px;
}

.EntstehungsursacheBereich{
    margin-top: 50px;
}

.Entstehungsursache{
    width: 1000px;
    height: 100px;
}

.BesondereVorkommnisseAnDerEinsatzstelle{
    margin-top: 50px;
}

.BesondereVorkommnisseAnDerEinsatzstelleBeschreibung{
    font-size: 13px;
    margin-top: -15px;
}

.BesondereVorkommnisseAnDerEinsatzstelle{
    margin-top: -5px;
    height: 150px;
    width: 1000px;
}

.VerbrauchtesMaterialBereich{
    margin-top: 450px;
}

.VerbrauchtesMaterialBeschreibung{
    font-size: 13px;
    margin-top: -15px;
}

.VerbrauchtesMaterial{
    height: 200px;
    width: 1000px;
}

.FragenZumEinsatzBerichtBereich{
    margin-top: 50px;
}

.FragenZumEinsatzBericht{
    width: 350px;
}

.erstellenUebersicht{
    margin-top: 35px;
    margin-bottom: 20px;
}

.invalideEingabe{
    color: red;
}

.BMAFehlalarmPunkte{
    margin-left: 20px;
}

.AuswertungDiv{
    margin-bottom: -2px;
}

.AuswertungText{
    margin-left: 11px;
    margin-top: 2px;
}

.abstandEntferntemItem{
    margin-bottom: 0px;
}

.logo{
    float: right;
    height: 80px;
}