body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.dateTime{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 3px;
    width: auto;
    height: auto;
}

.alarmzeitDate{
    width: 100px;
}

.alarmUeber{
    margin-top: 25px;
    float: left;
    text-align: left;
    display: flex;
    left: 600px;
    position: relative;
    left: -330px;
}

.alarmArtLeitstelle{
    margin-top: 20px;
    margin-left: 10px;
}

.alarmArtTelefon{
    margin-top: 20px;
    margin-left: 14px;
}

.abschnittAlarmArt{
    margin-top: 60px;
    float: left;
    text-align: left;
    display: flex;
    left: 600px;
    position: relative;
    left: -610px;
}

.alarmArtVollalarm{
    margin-top: 20px;
    margin-left: 10px;
}

.alarmArtKleinschleife{
    margin-top: 20px;
    margin-left: 14px;
}

.alarmArtSonstiges{
    height: 20px;
    width: auto;
    margin-top: 15px;
    margin-left: 50px;
}

.einsatzArtSelect{
    margin-top: 130px;
}

.einsatztypAbstand{
    margin-top: 10px;
}